.button{
    padding: 20px 20px;
    cursor: pointer; 
    margin: 10px;
    float: left;
    background-color: var(--primary);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-lg {
    height: 8vh;
    width: 16vw;
}

.button-md {
    height: 5vh;
    width: 12vw;
}

.button-sm {
    height: 3vh;
    width: 8vw;
}

.button:hover{
  
    padding: 20px 20px;
    cursor: pointer; 
    margin: 10px;
    float: left; 
    background-color: var(--select);
    color: white;
    text-align: center;
}