.auth-look {
    text-align: center;
    margin: auto;
    margin-top: 8em;
}

.email{
    font-size: 20px;
    margin: 16px;
    width: 60%;
}

.password {
    font-size: 20px;
    margin: 16px;
    width: 60%;

}

.signin-popup {
    position: fixed;
    background: #0000007a;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.popup {
    position: relative;
    background-color: white;
    width: 75%;
    margin: 10% auto;
}

.modalContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 32px;
}

.discard {
    position: absolute;
    cursor: pointer;
    background-color: var(--primary);
    height: 32px;
    width: 32px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    top: -15px;
    right: -15px;
    border: white solid 3px;
}

.discard:hover {
    background-color: var(--select);
}