.searchBar {
    width: 75%;
    height: 4vh;
    border-radius: 32px;
    display: flex;
    align-items: center;
    border: 0;
    box-shadow: 0 1px 10px #999;
    padding-left: 32px;
    align-self: center;
}

@media (max-width: 760px) {

    .searchBar {
        width: 80vw;
    }

}
