h3{

    text-align: center;
}
li{
    list-style: none;
    display: inline;
}
label{
    padding-left: 40px;
}
p{
   height: auto;
   width: auto;
   position: relative;
   left: 72px;
   
}

#boxOne{
    text-align: left;
    padding-left: 20px;
    margin: 10px;
}
#boxTwo{
    text-align: left;
    padding-left: 20px;
    margin: 10px;
}
#boxThree{
    text-align: left;
    padding-left: 20px;
    margin: 10px;
}
#boxFour{
    text-align: left;
    padding-left: 20px;
    margin: 10px;

}
#boxFive{
    text-align: left;
    padding-left: 20px;
    margin: 10px;

}
#boxSix{
    text-align: left;
    padding-left: 20px;
    margin: 10px;

}
#boxSeven{
    text-align: left;
    padding-left: 20px;
    margin: 10px;

}
.camera{
    margin-top: 4%;
    margin-left: 15%;
    max-width:30%;
    min-width: 30%;
    height: auto;
    width: auto;

}
@media (max-width: 1000px) {
    .camera{
        width: 213px;
        margin-left: 24%;

    }
}

#serial{
    padding-left: 49.5px;
}

#category{
    padding-left: 37px;
}

#productCode{
    padding-left: 21.5px;
}

#projectNumber{
    padding-left: 46px;
}

.group{
    text-align: center;
    display: flex;
    flex-direction: column;
}
#mainBox{
    display: flex;
    flex-wrap: wrap;
}
button {
    background-color: var(--primary);
    color: white;
    text-align: center;
    border-radius: 12px;
    text-align: center;
    height: 40px;
    width: 30%;
    margin-bottom: 6%;
}