#title{
    position: center;
    left: -1px;
}

#announceBox{
    position: center;
    left: -555px;
    top: -50px;
    background-color: lightgrey;
    width: auto;
    border: 7.2px solid black;
    padding: 300px;
    height: auto;
    margin-bottom: 10px;
}