:root {
}

body {
    padding: 0;
    margin: 0;
    background-color: rgba(20, 99, 197, 0.2); /* Tint color */
    background-blend-mode: multiply;
    background-image: url("../assets/images/hero.jpg");
    background-repeat: no-repeat;
}

.navigationContainer {
    background-color: red;
    height: 6vh;
}

.contentContainer {
    margin-top: 35vh;
    background-color: white;
    padding: 16px;
    height: 100%;
    min-height: 55.5vh;
}

