:root {
    --primary: #010080;
    --select: #2323c9;
    --dark: #101010;

    --success: #DFF0D8;
    --sucess-border: #d6e9c6;
    --error: #F8D7DA;
    --error-border: #F5C6CB;
    --warning: #FFF3CD;
    --warning-border: #FFEEBA;

}

/* Layout */
html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', serif;
    padding: 0;
    margin: 0;
    background-color: rgba(20, 99, 197, 0.2); /* Tint color */
    background-blend-mode: multiply;
    background-image: url("../assets/images/hero.jpg");
    background-repeat: no-repeat;
}

.contentContainer {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    width: 100vw;
    margin-top: 35vh;
    min-height: 60vh;
    height: 100%;
    box-shadow: 0 1px 10px #999;
    justify-content: center;
    padding-top: 32px;
}

.alertContainer {
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
}

.alert {
    height: 6vh;
    width: 65%;
    border-color: #d6e9c6;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.alert-text {
    padding-left: 32px;
}

.alert-close {
    margin-left: auto;
    margin-right: 32px;
    font-size: 28px;
    color: #A9A9A9;
}

.alert-close:hover {
    cursor: pointer;
    color: var(--dark);
}

.alert-success {
    background-color: var(--success);
    border-color: var(--sucess-border);
}

.alert-warning {
    background-color: var(--warning);
    border-color: var(--warning-border);
}

.alert-error {
    background-color: var(--error);
    border-color: var(--error-border);
}
