:root {
    --primary: #010080;
    --select: #2323c9;
    --dark: #101010;

}

/* Layout */
html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Montserrat', serif;
    padding: 0;
    margin: 0;
    background-color: rgba(20, 99, 197, 0.2); /* Tint color */
    background-blend-mode: multiply;
    background-image: url("../assets/images/hero.jpg");
    background-repeat: no-repeat;
}

.contentContainer {
    display: flex;
    flex-wrap: nowrap;
    background-color: white;
    width: 100vw;
    margin-top: 35vh;
    min-height: 60vh;
    height: 100%;
    box-shadow: 0 1px 10px #999;
    justify-content: center;
    padding-top: 32px;
}
